In [ ]:
import yfinance
from datetime import datetime, timedelta
from os import mkdir

/var/folders/3p/7d9d9wvn35v57fqkdy2wr0wc0000gn/T/ipykernel_83433/891921385.py:4 DeprecatedImportWarning: The `airflow.macros.ds_add` attribute is deprecated. Please use `'airflow.sdk.execution_time.macros.ds_add'`.

In [6]:
hist = yfinance.Ticker("TOTS3.SA").history(
            period ="7d",
            interval = "1h",
            prepost = True
)

hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2025-12-18 10:00:00-03:00,44.290001,45.040001,44.290001,44.419998,129500,0.0,0.0
2025-12-18 11:00:00-03:00,44.400002,44.650002,44.360001,44.540001,133300,0.0,0.0
2025-12-18 12:00:00-03:00,44.570000,44.860001,44.380001,44.810001,181800,0.0,0.0
2025-12-18 13:00:00-03:00,44.790001,44.869999,44.619999,44.650002,120200,0.0,0.0
2025-12-18 14:00:00-03:00,44.630001,44.689999,44.299999,44.439999,161900,0.0,0.0

In [ ]:

def extrai_dados_diarios(codigo_acao: str, date: datetime): 
    caminho = f'/Users/salatiel/airflow/data/finances/extraction/{date.strftime("%Y%m%d")}_{codigo_acao}.csv'
    yfinance.Ticker(codigo_acao).history(
        interval = "1h",
        start = date.strftime("%Y-%m-%d"),
        end = (date + timedelta(days=1)).strftime("%Y-%m-%d"),
        prepost = True
    ).to_csv(caminho)

In [21]:
extrai_dados_diarios("TOTS3.SA", datetime(2025, 12, 29))